<a href="https://colab.research.google.com/github/alloydas/Coursera_Capstone/blob/main/part2week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Segmenting and Clustering Neighborhoods in Toronto | Part-2**
Author Alloy Das

In [1]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 8.0MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from geocoder) (0.16.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from geocoder) (1.15.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->geocoder) (2020.12.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ratelim->geocoder) (4.4.2)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [2]:
import pandas as pd
import numpy as np
import geocoder
print("Imported!")

Imported!

In [3]:
df = pd.read_csv('/content/drive/MyDrive/toronto.csv')
df.head()

                                          Postalcode  ...                                       Neighborhood
0                              \nM1ANot assigned\n\n  ...                     M9AEtobicoke(Islington Avenue)
1              \nM1BScarborough(Malvern / Rouge)\n\n  ...  M9BEtobicoke(West Deane Park / Princess Garden...
2  \nM1CScarborough(Rouge Hill / Port Union / Hig...  ...  M9CEtobicoke(Eringate / Bloordale Gardens / Ol...
3  \nM1EScarborough(Guildwood / Morningside / Wes...  ...                                    M9ENot assigned
4                       \nM1GScarborough(Woburn)\n\n  ...                                    M9GNot assigned

[5 rows x 3 columns]

In [4]:
print(df.shape)
df.describe()

(20, 3)

                   Postalcode                Borough     Neighborhood
count                      20                     20               20
unique                     20                     20               20
top     \nM1YNot assigned\n\n  \nM2XNot assigned\n\n  M9ZNot assigned
freq                        1                      1                1

In [5]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M4G')

[43.709020000000066, -79.36348999999996]

In [6]:
postal_codes = df['Postalcode']    
coords = [ get_latilong(postal_code) for postal_code in postal_codes.tolist() ]

In [7]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']

In [8]:
df[df.Postalcode == 'M5G']

Empty DataFrame
Columns: [Postalcode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [9]:

df.head(15)

                                           Postalcode  ...  Longitude
0                               \nM1ANot assigned\n\n  ... -79.385440
1               \nM1BScarborough(Malvern / Rouge)\n\n  ... -79.220380
2   \nM1CScarborough(Rouge Hill / Port Union / Hig...  ... -79.132520
3   \nM1EScarborough(Guildwood / Morningside / Wes...  ... -79.189920
4                        \nM1GScarborough(Woburn)\n\n  ... -79.228290
5                     \nM1HScarborough(Cedarbrae)\n\n  ... -79.232559
6           \nM1JScarborough(Scarborough Village)\n\n  ... -79.216990
7   \nM1KScarborough(Kennedy Park / Ionview / East...  ... -79.262290
8   \nM1LScarborough(Golden Mile / Clairlea / Oakr...  ... -79.279120
9   \nM1MScarborough(Cliffside / Cliffcrest / Scar...  ... -79.232970
10  \nM1NScarborough(Birch Cliff / Cliffside West)...  ... -79.264600
11  \nM1PScarborough(Dorset Park / Wexford Heights...  ... -79.276940
12           \nM1RScarborough(Wexford / Maryvale)\n\n  ... -79.298020
13                   \nM1SScarborough(Agincourt) \n\n  ... -79.280840
14  \nM1TScarborough(Clarks Corners / Tam O'Shante...  ... -79.301560

[15 rows x 5 columns]

In [10]:
df.to_csv('/content/drive/MyDrive/toronto_part2.csv',index=False)